{% extends 'base.html' %}

{% block content %}
<div class="container px-lg-5 px-2">
        <h1>{% block title %} Setup {% endblock %}</h1>
        <hr>
        <form method="post" class="mb-5" action="/submit">
            <div class="mb-3">
                <label for="exclude-drives" class="h3">Drives to exclude from download</label>
                <select name="exclude-drives" class="form-select form-control" multiple id="exclude-drives">
                    {% if drives is defined and drives is not none and drives|length %}
                         {% for item in drives %}  
                         <option value="{{item.id|safe}}">{{item.name|safe}}</option> 
                         {% endfor %}
                    {% endif %}
                  </select>
                  <span id="exclude-drives-desc" class="text-muted">Select drives that should <strong>not</strong> be backed up. Press "Shift" or drag to bulk-select. Press "command"/"ctrl" to select and deselect multiple rows.</span>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Submit & Start download</button>
            </div>
        </form>
</div>
<script type=text/javascript>
  function onToggle() {
    
  }
</script>
{% endblock %}